page-home {

}

ion-slide, ion-header, ion-navbar, .toolbar-background-md {
    background: white;
}

ion-slide {
    align-items: flex-start !important;
    margin-top: 75px;
}

.button-inner {
    color: #333;
}